<div class="login-head">
    <img src="assets/img/logo-big-new.png" alt="">
  </div>
  <div class="bgblue">
  <!-- <h1>Day<span>Care</span></h1> -->
 
<div class="container">

<div class="row">
    <div class="col-lg-8">
        <div class="div12">
            <img src="assets/img/bg.png" alt="">
          </div>
    </div>
<div class="col-lg-4" *ngIf="!showMessage">
    <div class="loginbox">
      <form class="form-card" [formGroup]="forgotPassword" >
        <div class="title">
          <h3>ENTER YOUR USERNAME</h3>
        </div>
        <fieldset class="form-fieldset">
          <div class="form-element form-input">
            <input   formControlName="email" class="form-element-field" placeholder="Username or Email or Phone number"
             type="input"  autofocus/>
            <div class="form-element-bar"></div>
            <label class="form-element-label" for="field-omv6eo-metm0n-5j55wv-w3wbws-6nm2b9">Username</label>
          </div>
          <div *ngIf="forgotPassword.controls.email.invalid && (forgotPassword.controls.email.dirty || forgotPassword.controls.email.touched)" class="text-left errormsg">
            <span *ngIf="forgotPassword.controls.email.errors.pattern && !forgotPassword.controls.email.errors.maxlength">
                <i class="fa fa-exclamation-circle errtext" ></i> <span class="errtext"> Please enter valid email address</span> 
            </span>
            <span *ngIf="forgotPassword.controls.email.errors.maxlength">
              <i class="fa fa-exclamation-circle errtext" ></i> <span class="errtext"> Cannot enter more then 100 characters</span> 
          </span>
            <span *ngIf="forgotPassword.controls.email.errors.required">
              <i class="fa fa-exclamation-circle errtext" ></i> <span class="errtext"> Please enter email address</span> 
          </span>
        </div> 
        <div class="text-left errormsg">
            <span *ngIf="invalidEmail">
                <i class="fa fa-exclamation-circle errtext" aria-hidden="true"></i> <span class="errtext"> Oops! Email address is incorrect</span>
            </span>
        </div>
        </fieldset>
        <button type="button"  [disabled]="!forgotPassword.valid" (click)="forgetPassword()" class="btn btn-success" >Send new password</button>
      
      </form>
       </div>

  </div>
  <!-- Success Message -->
  <div class="col-lg-4" *ngIf="showMessage">
  <div class="loginbox">
    <div class="form-card">
        <div class="title">
            <h3 style="color: #FF6C6C">Great!!</h3>
          </div>
          <fieldset class="form-fieldset">
            <!-- <div class="form-element form-input"> -->
          <p style="color:#58A7FE">Create Password link has been sent to your registerd email!</p>  
            <!-- </div> -->
            <a [routerLink]="['/']" style="cursor:pointer">Go To Login</a>
          </fieldset>
    </div>
  
    
    
    
   </div>
   </div>
</div>

</div>
</div>

<ngx-spinner type="ball-atom" size="medium" color="#58A7FE"></ngx-spinner>