<div class="wrapper">
  <div class="container-fluid">

    <div class="pagetitle">
      <div>
        <h2>Post Activity
          <span>/ Activity Detail </span>
        </h2>
      </div>
      <!-- <div>
          <button type="submit" class="btn btn-red">Approve All</button>
        </div> -->
    </div>

    <div class="subhead d-flex justify-content-between mt-20">
      <div>
        <h3>Activity Detail</h3>
      </div>
      <div>
        <!-- <i class="fa fa-print"></i> -->
      </div>
    </div>

    <div class="mt-20"></div>
    <!-- <div class="row">
          <div class="col-lg-8">
            <h3>Class LKG</h3>
          </div>
          <div class="col-lg-4">
            <div class="row">
            <div class="col-lg-4">
              <div> Select Class : </div>
            </div>
            <div class="col-lg-8">
              <div class="form-group">
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>L-KG</option>
                  <option>1st</option>
                  <option>2nd</option>
                  <option>3rd</option>
                  <option>4th</option>
                </select>
              </div>
            </div>
          </div>
          </div>
        </div> -->

    <!-- <div class="row">
         <div class="col-lg-4">
          <div class="card cardup ">
            <div class="crdhead">
              <div class="title"> Upcoming Classes</div>
              <div>View all</div>
            </div>
            <div class="cardbody">
  
              <ul class="upcmng">
                <li class="d-flex justify-content-between">
                  <div class="d-flex">
                    <div class="chatimg">
                      <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil" class="img-fluid">
                    </div>
                    <div class="chatdet">
                      <h5>1245PM - 1:45PM</h5>
                      <p>James</p>
                    </div>
                  </div>
                  <div>
                    <a href="">View</a>
                  </div>
                </li>
                <li class="d-flex justify-content-between">
                  <div class="d-flex">
                    <div class="chatimg">
                      <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil" class="img-fluid">
                    </div>
                    <div class="chatdet">
                      <h5>1245PM - 1:45PM</h5>
                      <p>Mark</p>
                    </div>
                  </div>
                  <div>
                    <a href="">View</a>
                  </div>
                </li>
                <li class="d-flex justify-content-between">
                  <div class="d-flex">
                    <div class="chatimg">
                      <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil" class="img-fluid">
                    </div>
                    <div class="chatdet">
                      <h5>1245PM - 1:45PM</h5>
                      <p>Peter</p>
                    </div>
                  </div>
                  <div>
                    <a href="">View</a>
                  </div>
                </li>
              </ul>
  
            </div>
  
          </div>
        </div> 
        <div class="col-lg-8">
          <div class="card mb-20" style="margin-bottom: 20px;">
            <div class="post">
              <div class="row">
                <div class="col-lg-1">
                  <div class="chatimg w-20">
                    <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil" class="img-fluid">
                  </div>
                </div>
                <div class="col-lg-11">
                  <div class="postmsg">
                    <textarea name="" id="" rows="5" placeholder="Write somethings to post"></textarea>
                  </div>
                </div>
                <div class="col-lg-12">
                    <div class="type_msg">
                        <div class="input_msg_write">
           
                         <div class="sndbtn text-right">
                           <a href=""> <i class="fa fa-video-camera" aria-hidden="true"></i>   </a>
                            <a href=""><i class="fa fa-camera" aria-hidden="true"></i></a>
                          <button class="btn btn-send" type="button">Post</button>
                          </div>
                      </div>
                      </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  -->

    <div class="card">
      <div class="messaging">
        <!-- <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Class L-KG - Student(35)</h4>
            </div>
          </div>
          <div class="inbox_chat">
            <div class="chat_list active_chat">
              <div class="chat_people">
                <div class="chat_img">
                  <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>ID : C123456
                  </h5>
                  <p class="kidname">Dev James</p>
                  <p class="status">Enjoying the dance</p>
                </div>
              </div>
            </div>
            <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img">
                  <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>ID : C123456
                   
                  </h5>
                  <p class="kidname">Dev James</p>
                  <p class="status">Enjoying the dance</p>
                </div>
              </div>
            </div>
            <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img">
                  <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>ID : C123456
                   
                  </h5>
                  <p class="kidname">Dev James</p>
                  <p class="status">Enjoying the dance</p>
                </div>
              </div>
            </div>
            <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img">
                  <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>ID : C123456
                  
                  </h5>
                  <p class="kidname">Dev James</p>
                  <p class="status">Enjoying the dance</p>
                </div>
              </div>
            </div>
            <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img">
                  <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>ID : C123456
                   
                  </h5>
                  <p class="kidname">Dev James</p>
                  <p class="status">Enjoying the dance</p>
                </div>
              </div>
            </div>
            <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img">
                  <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>ID : C123456
                    
                  </h5>
                  <p class="kidname">Dev James</p>
                  <p class="status">Enjoying the dance</p>
                </div>
              </div>
            </div>
          </div>
  
  
  
  
        </div> -->
        <div class="mesgs">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Recent Post Gallery</h4>
            </div>
          </div>
          <div class="brdr"></div>
          <div class="msg_history">
            <div class="chat_people">
              <div class="chat_img">

                <img src="{{postdetails.imagePath}}" alt="" onError="this.src='assets/img/user.png'"
                  class="img-circle detailschildimg">
                <!-- <img *ngIf="(postdetails.imagePath == null)" src="assets/img/user.png" alt="" > -->

              </div>
              <div class="chat_ib">
                <!-- <h5>ID : C123456 </h5> -->
                <p class="kidname">{{postdetails.studentName}}</p>
                <p class="status">{{postdetails.postedDate | date}}</p>
              </div>
            </div>
            <div class="techNotes">
              <h3>{{postdetails.postTitle }}</h3>
              <p>{{postdetails.postDescription}}</p>
              <p><i class="fa fa-gittip">{{postdetails.totalLikes}}</i>Like</p>
            </div>
            <div class="brdr"></div>

            <div class="postimges">
              <div class="row" *ngIf="postdetails.postActivityImages">

                <div class="col-lg-3" *ngFor="let img of postdetails.postActivityImages">
                  <div class="postimg">
                    <div class="cont"> <img src="{{img.imageServerPath}}" onError="this.src='assets/img/user.png'"
                        alt="" class="img-fluiud"></div>
                    <!-- <p ><img src="assets/img/happy.svg" alt="">{{img.likeCount}}</p> -->

                  </div>
                </div>

                <!-- <div class="col-lg-3">
                        <div class="postimg">
                            <div class="cont"> <img src="assets/img/img1.svg" alt="" class="img-fluiud"></div>
                            <p ><img src="assets/img/happy.svg" alt="">123</p>
                          </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="postimg">
                            <div class="cont"> <img src="assets/img/img1.svg" alt="" class="img-fluiud"></div>
                            <p ><img src="assets/img/happy.svg" alt="">123</p>
                          </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="postimg">
                            <div class="cont"> <img src="assets/img/img1.svg" alt="" class="img-fluiud"></div>
                            <p ><img src="assets/img/happy.svg" alt="">123</p>
                          </div>
                    </div> -->
              </div>
              <div class="row" *ngIf="postdetails.postActivityVideos">



                <div *ngIf="postdetails.postActivityVideos">
                  <div class="col-lg-3" *ngFor="let img of postdetails.postActivityVideos">
                    <div class="">
                      <div class="cont">
                        <!-- <img src="{{img.vedioServerPath}}" alt="" class="img-fluiud"> -->
                        <video controls width="420" height="350">
                          <source src="{{img.vedioServerPath}}" type="video/mp4" />
                          <source src="{{img.vedioServerPath}}" type="video/ogg">
                          <source src="{{img.vedioServerPath}}" type="video/webm">

                          Browser not supported
                        </video>
                      </div>
                      <!-- <p > -->
                      <!-- <img src="assets/img/happy.svg" alt=""> -->
                      <!-- {{img.likeCount}}</p> -->
                    </div>
                    <!-- <div class="video">
                        <video controls width="420" height="350" >
                            <source src="{{postdetails.postActivityVideos}}" type="video/mp4" />
                            Browser not supported
                        </video>
                    </div> -->
                  </div>
                </div>
                <!-- <div class="col-lg-3">
                          <div class="postimg">
                              <div class="cont"> <img src="assets/img/img1.svg" alt="" class="img-fluiud"></div>
                              <p ><img src="assets/img/happy.svg" alt="">123</p>
                            </div>
                      </div>
                      <div class="col-lg-3">
                          <div class="postimg">
                              <div class="cont"> <img src="assets/img/img1.svg" alt="" class="img-fluiud"></div>
                              <p ><img src="assets/img/happy.svg" alt="">123</p>
                            </div>
                      </div>
                      <div class="col-lg-3">
                          <div class="postimg">
                              <div class="cont"> <img src="assets/img/img1.svg" alt="" class="img-fluiud"></div>
                              <p ><img src="assets/img/happy.svg" alt="">123</p>
                            </div>
                      </div> -->
              </div>
            </div>
          </div>
          <!-- <div class="type_msg">
            <div class="input_msg_write">
              <input type="text" class="write_msg" placeholder="Type a message" />
              <button class="btn msg_send_btn" type="button">
                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
              </button>
            </div>
          </div> -->
        </div>
      </div>
    </div>

  </div>
</div>