<div class="login-head">
  <img src="assets/img/logo-big-new.png" alt="">
  <br>
  <div style="margin-top: 15px;" *ngIf="!showMessage">
    <h3>Pricing Plan (Includes one month free trial)</h3>
    <h3 style="margin-bottom: 0rem;">Login instructions and onboarding info emailed after registration</h3>
  </div>
</div>

<div class="bgblue">
  <div class="container">
    <div class="row">

      <div class="col-lg-8" *ngIf="showMessage">
        <div class="div12">
          <img src="assets/img/bg.png" alt="">
        </div>
      </div>

      <div class="pricing card-deck card_section mt-20" *ngIf="!showMessage">
        <div class="row">
          <div class="col-lg-3" *ngFor="let plan of pricingPlanList">
            <div class="card card-pricing text-center px-3 mb-4">
              <span
                class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">{{plan.planName}}</span>
              <div class="bg-transparent card-header pt-4 border-0">
                <h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-value="1200">$<span
                    class="price">{{plan.planPrice}}</span>
                  <span class="h6 text-muted ml-2" *ngIf="plan.frequency == 'month'">/ per month</span>
                  <span class="h6 text-muted ml-2" *ngIf="plan.frequency == 'year'">/ per year</span>
                </h1>
              </div>
              <div class="card-body pt-0">
                <ul class="list-unstyled mb-4">
                  <li>Up to {{plan.numberofUsers}} users</li>
                  <li class="listing">{{plan.remark}}</li>
                </ul>
                <button type="button" data-toggle="modal" data-target=".addagency" (click)="getPlanDetails(plan)"
                  class="btn btn-primary mb-3">Select Plan</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Success Message -->
      <div class="col-lg-4" *ngIf="showMessage">
        <div class="loginbox">
          <div class="form-card">
            <div class="title">
              <h3 style="color: #FF6C6C">Great!!</h3>
            </div>
            <fieldset class="form-fieldset">
              <!-- <div class="form-element form-input"> -->
              <p style="color:#58A7FE"> Please check your registerd email to create password and view setup info!</p>
              <!-- </div> -->
              <!-- <a [routerLink]="['/']" style="cursor:pointer">Go To Login</a> -->
            </fieldset>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="modal fade addagency" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Agency Registration</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-body">
          <form [formGroup]="agencyForm">
            <div class="form-fields">
              <div class="row mb-10 ">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label for="">Agency Name*</label>
                    <input type="text " class="form-control" id="" aria-describedby="" formControlName="agencyname"
                      placeholder="Agency Name">
                    <div *ngIf="f.agencyname.invalid && (f.agencyname.dirty || f.agencyname.touched)"
                      class="text-left errormsg">
                      <span *ngIf="f.agencyname.errors.required">
                        <i class="fa fa-exclamation-circle"></i> <span class=""> Please enter agency name</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-10">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">Agency Email*</label>
                    <input type="email " class="form-control" *ngIf="addMode" id="" aria-describedby=""
                      formControlName="email" placeholder="Email Address">
                    <input type="email " class="form-control" *ngIf="!addMode" id="" disabled aria-describedby=""
                      formControlName="email" placeholder="Email Address">
                    <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)" class="text-left errormsg">
                      <span *ngIf="f.email.errors.required">
                        <i class="fa fa-exclamation-circle"></i> <span class=""> Please enter email</span>
                      </span>
                      <span *ngIf="f.email.errors.pattern">
                        <i class="fa fa-exclamation-circle errtext"></i> <span class="errtext"> Please enter valid email
                          address</span>
                      </span>
                    </div>

                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">Agency Phone*</label>
                    <input type="text" maxlength="10" (keypress)="commonService.allowOnlyNumber($event)"
                      class="form-control" id="" aria-describedby="" formControlName="phone" placeholder="phone">
                    <div *ngIf="f.phone.invalid && (f.phone.dirty || f.phone.touched)" class="text-left errormsg">
                      <span *ngIf="f.phone.errors.required">
                        <i class="fa fa-exclamation-circle"></i> <span class=""> Please enter phone number</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-10">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">First Name*</label>
                    <input type="text " (keypress)="commonService.allowAlphabetOnly($event)" class="form-control" id=""
                      aria-describedby="" formControlName="firstname" placeholder="First Name">
                    <div *ngIf="f.firstname.invalid && (f.firstname.dirty || f.firstname.touched)"
                      class="text-left errormsg">
                      <span *ngIf="f.firstname.errors.required">
                        <i class="fa fa-exclamation-circle"></i> <span class=""> Please enter first name</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">Last Name*</label>
                    <input type="text" class="form-control" (keypress)="commonService.allowAlphabetOnly($event)" id=""
                      aria-describedby="" formControlName="lastname" placeholder="Last Name">
                    <div *ngIf="f.lastname.invalid && (f.lastname.dirty || f.lastname.touched)"
                      class="text-left errormsg">
                      <span *ngIf="f.lastname.errors.required">
                        <i class="fa fa-exclamation-circle"></i> <span class=""> Please enter last name</span>
                      </span>
                    </div>
                  </div>
                </div>

              </div>
              <div class="row mb-10">
                <div class="col-lg-12">
                  <div class="form-group">
                    <label for="">Address*</label>
                    <input type="text " class="form-control" id="" aria-describedby="" formControlName="address"
                      placeholder="Address">
                    <div *ngIf="f.address.invalid && (f.address.dirty || f.address.touched)" class="text-left errormsg">
                      <span *ngIf="f.address.errors.required">
                        <i class="fa fa-exclamation-circle"></i> <span class=""> Please enter address</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-10">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Country*</label>
                    <select class="form-control" placeholder="Country" formControlName="country"
                      id="exampleFormControlSelect1" (change)="getStatesList();clearStateCity()">
                      <option value="">Select Country</option>
                      <option *ngFor="let countries of countryList" [value]="countries.id">{{countries.countryName}}
                      </option>
                    </select>
                    <div *ngIf="f.country.invalid && (f.country.dirty || f.country.touched)" class="text-left errormsg">
                      <span *ngIf="f.country.errors.required">
                        <i class="fa fa-exclamation-circle"></i> <span class=""> Please select country</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">State*</label>
                    <select class="form-control" placeholder="State" formControlName="state"
                      id="exampleFormControlSelect1" (change)="getCitiesList();clearCity()">
                      <option value="">Select State</option>
                      <option *ngFor="let states of stateList" [value]="states.id">{{states.stateName}}</option>
                    </select>
                    <div *ngIf="f.state.invalid && (f.state.dirty || f.state.touched)" class="text-left errormsg">
                      <span *ngIf="f.state.errors.required">
                        <i class="fa fa-exclamation-circle"></i> <span class=""> Please select state</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-10">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">City*</label>
                    <select class="form-control" placeholder="City" formControlName="city"
                      id="exampleFormControlSelect1">
                      <option value="">Select City</option>
                      <option *ngFor="let cities of cityList" [value]="cities.id">{{cities.cityName}}</option>
                    </select>
                    <div *ngIf="f.city.invalid && (f.city.dirty || f.city.touched)" class="text-left errormsg">
                      <span *ngIf="f.city.errors.required">
                        <i class="fa fa-exclamation-circle"></i> <span class=""> Please select city</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">Zip Code</label>
                    <input type="text " maxlength="6" class="form-control" id="" formControlName="zipcode"
                      aria-describedby="" placeholder="Enter Zip Code">
                  </div>
                </div>
              </div>

              <div class="row mb-10">
                <div class="col-lg-3">
                  <div class="form-group">
                    <a href="https://classroompanda.com/PrivacyPolicy" target="_blank">Privacy Policy - </a>
                    <span><a href="https://classroompanda.com/EULA" target="_blank">EULA</a></span>
                  </div>
                </div>
                <div class="col-lg-1">
                  <div class="form-group">
                    <input type="checkbox" id="checkbox-in" class="checkbox_address" (change)="addAddress($event)">
                  </div>
                </div>
                <div class="col-lg-2">
                  <div class="form-group">
                    <p style="margin-left: -30px;">I accept terms</p>
                  </div>
                </div>
              </div>
              
              <div class="row mb-10">
                <div class="col-lg-12">
                  <button type="submit" class="btn btn-info" [disabled]="isActive" (click)="promocodeForm()" data-toggle="modal"
                    data-target=".promocode">Apply Promocode</button>

                  <div *ngIf="isSuccessShow" class="text-left errormsg">
                    <span *ngIf="isSuccessShow" style="color: green;">
                      <span class="">Promocode applied successfully</span>
                      <p> Payable Amount {{price}}</p>
                    </span>
                  </div>
                </div>

              </div>

            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="close" data-dismiss="modal">Back</button>
          <button type="button" class="btn btn-primary" [disabled]="isActive" (click)="openCheckout()">Add Payment Info</button>
        </div>
      </div>
    </div>
  </div>

  <!-- last  -->
</div>




<div class="modal fade promocode" id="" tabindex="-1" role="dialog" aria-labelledby="checkoutLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="checkoutLabel">Apply Promocode</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="promoForm">
          <div class="row mb-20 mt-20">
            <div class="col-lg-12">
              <div class="form-group">
                <label for="">Promocode*</label>
                <input type="text " class="form-control" [readOnly]="isSuccessShow" id="" aria-describedby=""
                  formControlName="promocodename" placeholder="Enter Promocode here">
                <div *ngIf="p.promocodename.invalid && (p.promocodename.dirty || p.promocodename.touched)"
                  class="text-left errormsg">
                  <span *ngIf="p.promocodename.errors.required">
                    <i class="fa fa-exclamation-circle"></i> <span class=""> Please enter promocodename</span>
                  </span>
                </div>
                <div *ngIf="isFailShow" class="text-left errormsg">
                  <span *ngIf="isFailShow">
                    <i class="fa fa-exclamation-circle"></i> <span class=""> Please enter a valid Promocode</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close" data-dismiss="modal">Close</button>
        <button type="button" [disabled]="isSuccessShow" class="btn btn-primary"
          (click)="checkPromoCode()">Apply</button>
      </div>
    </div>
  </div>
</div>



<app-confirm-box></app-confirm-box>
<ngx-spinner type="ball-atom" size="medium" color="#58A7FE"></ngx-spinner>