.upload-btn-wrapper{ top: 10px !important}

.checkbox_address
{
height: 34px;
width: 18px;
margin-left: 30px;
margin-top: 1px;
}

.info-icon{
    margin-left: 264px;
    font-size: 20px; 
    color: #383333;
}