<div class="wrapper">
    <div class="container-fluid">
  
      <div class="pagetitle">
        <div>
          <h2>Calendar
            <span>/View Event</span>
          </h2>
        </div>
      </div>
      <div *ngIf="calendarOptions">
        <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="gotoDate($event.detail)" (eventDrop)="updateEvent($event.detail)"
          (eventResize)="updateEvent($event.detail)" (clickButton)="clickButton($event.detail)" (eventRender)="eventRenderMethod($event.detail)"
          (click)="click($event)"></ng-fullcalendar>
      </div>
  
  
      <!-- Update model -->
      <p-dialog class="update-event-popup" header="Event Details" [(visible)]="display" [width]="600">
        <form [formGroup]="calenderForm" class="pl-10 pr-20">
          <div class="row mb-20">
            <div class="col-lg-3">
              <div class="form-group">
                <label for="">Begins</label>
                <!-- <input type="date" class="form-control" id="" aria-describedby="" placeholder="Select Start Date and Time"> -->
                <input type="text" placeholder="Ends on" formControlName="startdate" showWeekNumbers="false" [minDate]="today"
                  class="form-control" [bsConfig]="dpConfig" bsDatepicker>
                <div *ngIf="f.startdate.invalid && (f.startdate.dirty || f.startdate.touched)" class="text-left errormsg">
                  <span *ngIf="f.startdate.errors.required">
                    <i class="fa fa-exclamation-circle"></i> <span class=""> Please select date</span>
                  </span>
                </div>
              </div>
  
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label for="">End</label>
                <!-- <input type="date" class="form-control" id="" aria-describedby="" placeholder="Select Start Date and Time"> -->
                <input type="text" placeholder="Ends on" formControlName="enddate" showWeekNumbers="false" [minDate]="today"
                  class="form-control" [bsConfig]="dpConfig" bsDatepicker [readOnly]="disableEndDate">
                <div *ngIf="f.enddate.invalid && (f.enddate.dirty || f.enddate.touched)" class="text-left errormsg">
                  <span *ngIf="f.enddate.errors.required">
                    <i class="fa fa-exclamation-circle"></i> <span class=""> Please select date</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label for="">Start time</label>
                <!-- <input type="date" class="form-control" id="" aria-describedby="" placeholder="Select Start Date and Time"> -->
                <p-calendar class="custom-textbox-eventplan" styleClass="form-control" formControlName="starttime"  hourFormat="12" [timeOnly]="true" icon="pi pi-clock"
                  [showIcon]="true"></p-calendar>
                <div *ngIf="f.starttime.invalid && (f.starttime.dirty || f.starttime.touched)" class="text-left errormsg">
                  <span *ngIf="f.starttime.errors.required">
                    <i class="fa fa-exclamation-circle"></i> <span class="">select time</span>
                  </span>
                </div>
              </div>
  
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label for="">End time</label>
                <!-- <input type="date" class="form-control" id="" aria-describedby="" placeholder="Select Start Date and Time"> -->
                <p-calendar class="custom-textbox-eventplan" styleClass="form-control" formControlName="endtime" [timeOnly]="true" hourFormat="12" icon="pi pi-clock"
                  [showIcon]="true"></p-calendar>
                <div *ngIf="f.endtime.invalid && (f.endtime.dirty || f.endtime.touched)" class="text-left errormsg">
                  <span *ngIf="f.endtime.errors.required">
                    <i class="fa fa-exclamation-circle"></i> <span class="">select time</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-20">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Class</label>
                <p-multiSelect [options]="classList" [panelStyle]="{minWidth:'200px'}" formControlName="class"
                  [maxSelectedLabels]="5"></p-multiSelect>
                <div *ngIf="f.class.invalid && (f.class.dirty || f.class.touched)" class="text-left errormsg">
                  <span *ngIf="f.class.errors.required">
                    <i class="fa fa-exclamation-circle"></i> <span class=""> Please select class</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Title</label>
                <input type="text" class="form-control" formControlName="title" id="" aria-describedby="" placeholder="Enter Event Title">
                <div *ngIf="f.title.invalid && (f.title.dirty || f.title.touched)" class="text-left errormsg">
                  <span *ngIf="f.title.errors.required">
                    <i class="fa fa-exclamation-circle"></i> <span class=""> Please enter title</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
  
          <div class="row mb-20">
            <div class="col-lg-12">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Description (Max limit 500 characters)</label>
                <textarea name="" formControlName="description" id="" cols="3" rows="3" class="form-control" maxlength="500"></textarea>
                <div *ngIf="f.description.invalid && (f.description.dirty || f.description.touched)" class="text-left errormsg">
                  <span *ngIf="f.description.errors.required">
                    <i class="fa fa-exclamation-circle"></i> <span class=""> Please enter description</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
  
  
          <div class="row mb-20">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Repeat</label>
                <select class="form-control" placeholder="First Aid Administered by" formControlName="repeat" id="exampleFormControlSelect1"
                  (change)="getRepeatOptions()" disabled>
                  <option *ngFor="let obj of repeatList" [value]="obj.value">{{obj.label}}</option>
                </select>
              </div>
            </div>
  
            <div class="col-lg-6" *ngIf="showEndsOn">
              <div class="form-group">
                <label for="">Ends on</label>
                <!-- <input type="date" class="form-control"  formControlName="endson" id="" aria-describedby="" placeholder=""> -->
                <input type="text" placeholder="Ends on" formControlName="endson" showWeekNumbers="false" [minDate]="today"
                  class="form-control" [bsConfig]="dpConfig" bsDatepicker disabled>
                <div *ngIf="f.endson.invalid && (f.endson.dirty || f.endson.touched)" class="text-left errormsg">
                  <span *ngIf="f.endson.errors.required">
                    <i class="fa fa-exclamation-circle"></i> <span class=""> Please select date</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </form>
      </p-dialog>
  
    </div>
  </div>
  <ngx-spinner type="ball-atom" size="medium" color="#58A7FE"></ngx-spinner>
  <app-confirm-box></app-confirm-box>
  