
#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

/* Added sby Aniket */

.fa-pencil, .fa-eye, .fa-chevron-left, .fa-chevron-right, .fa-plus-circle {
  color: #58A7FE;
  padding-right: 22px;
  font-size: 15px;
}
.incident-tabs {
  margin-top: 20px;
  margin-bottom: 5px !important;
  border-bottom: 1px solid #e8e8e8;
  text-align: center;
  display: flex;
  justify-content: center;
}
.incident-tabs .nav-link {
  border-radius: 10px 10px 0 0;
}
.modal-body {
  padding: 20px;
}