<div class="wrapper">
  <div class="container-fluid">

    <div class="pagetitle">
      <div>
        <h2>StudentList
          <span>/ Add Student </span>
        </h2>
      </div>
      <div>        
      </div>
    </div>
    <div class="subhead d-flex justify-content-between mt-20"><div><h3>Add Student</h3></div> </div>    
    
<div class="mt-20"></div>
    <div class="row">
      <div class="col-lg-3">
        <div class="row mb-20">
          <div class="col-lg-12">
            <div class="upload-profile">
              <div>
                <img src="assets/img/boy.svg" alt="" class="img-fluid img-circle"> </div>

              <div class="upload-btn-wrapper">
                <button class="btn btn-send">Upload a file</button>
                <input type="file" name="myfile" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="basicinfo-tab" data-toggle="tab" href="#basicinfo" role="tab" aria-controls="basicinfo" aria-selected="true">Basic Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="Gurardianinfo-tab" data-toggle="tab" href="#Gurardianinfo" role="tab" aria-controls="Gurardianinfo"
              aria-selected="false">Gurardian Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="Allergies-tab" data-toggle="tab" href="#Allergies" role="tab" aria-controls="Allergies" aria-selected="false">Allergies and Immunization</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="basicinfo" role="tabpanel" aria-labelledby="basicinfo-tab">
            <form>
              <div class="row mb-20 mt-20">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">First name</label>
                    <input type="text " class="form-control" id="" aria-describedby="" placeholder="Enter First Name">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">Last name</label>
                    <input type="text " class="form-control" id="" aria-describedby="" placeholder="Enter Last Name">
                  </div>
                </div>
              </div>

              <div class="row mb-20">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">Student ID(auto generate)</label>
                    <input type="text " class="form-control" id="" aria-describedby="" placeholder="ID">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">User Name</label>
                    <input type="text " class="form-control" id="" aria-describedby="" placeholder="User Name">
                  </div>
                </div>
              </div>



              <div class="row mb-20">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">Email Address</label>
                    <input type="email " class="form-control" id="" aria-describedby="" placeholder="Email address">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">Password</label>
                    <input type="password " class="form-control" id="" aria-describedby="" placeholder="Password">
                  </div>
                </div>
              </div>
              <div class="row mb-20">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">Mobile No</label>
                    <input type="number " class="form-control" id="" aria-describedby="" placeholder="Mobile">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">Phone Number</label>
                    <input type="number " class="form-control" id="" aria-describedby="" placeholder="Phone">
                  </div>
                </div>
              </div>

              <div class="row mb-20">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Gender</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>Boy</option>
                      <option>Girl</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">Date of Birth</label>
                    <input type="date " class="form-control" id="" aria-describedby="" placeholder="DOB">
                  </div>
                </div>
              </div>


              <div class="row mb-20">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">Address</label>
                    <input type="text " class="form-control" id="" aria-describedby="" placeholder="Address">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Apt/Suite</label>
                    <input type="text " class="form-control" id="" aria-describedby="" placeholder="Apt/Suite">
                  </div>
                </div>
              </div>


              <div class="row mb-20">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">City</label>
                    <input type="text " class="form-control" id="" aria-describedby="" placeholder="Enter City">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">State</label>
                    <select class="form-control" id="exampleFormControlSelect1">

                      <option>Select State</option>
                      <option>Alaska </option>
                      <option>Arizona </option>
                      <option>Arkansas </option>
                      <option>California </option>
                    </select>
                  </div>
                </div>
              </div>


              <div class="row mb-20">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">Zip Code</label>
                    <input type="text " maxlength="6" class="form-control" id="" aria-describedby="" placeholder="Enter Zip Code">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Country</label>
                    <select class="form-control" id="exampleFormControlSelect1">

                      <option>Select Country</option>
                      <option>United State </option>

                    </select>
                  </div>
                </div>
              </div>

              <div class="row mb-20">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">Class</label>
                    <!-- <input type="text " class="form-control" id="" aria-describedby="" placeholder="class"> -->
                    <select class="form-control" id="exampleFormControlSelect1">

                      <option>Select Class</option>
                      <option>Toddler </option>
                      <option>Infant </option>
                      <option>LKG </option>
                      <option>UKG </option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">Section Name</label>
                    <input type="text" class="form-control" id="" aria-describedby="" placeholder="Section">
                  </div>
                </div>
              </div>


              <div class="row mb-20">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">Date Of Birth</label>
                    <input type="date" class="form-control" id="" aria-describedby="" placeholder="DOB">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Date of Hiring</label>
                    <input type="date " class="form-control" id="" aria-describedby="" placeholder="DOH">
                  </div>
                </div>
              </div>

              <div class="row mb-20">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">Gross Pay</label>
                    <input type="number" class="form-control" id="" aria-describedby="" placeholder="Gross pay">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">Certification</label>
                    <input type="text" class="form-control" id="" aria-describedby="" placeholder="Cartification">
                  </div>
                </div>
              </div>

              <div class="row mb-20">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Link Parent</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option>Mark</option>
                      <option>Jacod</option>
                      <option>Lary</option>
                      <option>Sandra</option>
                      <option>Gauthier</option>
                    </select>
                  </div>
                </div>
              </div>


              <div class="text-center">
                <button type="submit" class="btn btn-send">Save</button>
              </div>

            </form>
          </div>
          <div class="tab-pane fade" id="Gurardianinfo" role="tabpanel" aria-labelledby="Gurardianinfo-tab">


            <div class="d-flex justify-content-between mt-20 subhead">
              <div>
                <h3>Guardian Information</h3>
              </div>
              <div>
                <button type="submit" class="btn btn-send"  data-toggle="modal" data-target=".guardianinfo">Add Guardian</button>
              </div>
            </div>
            <div class="innertable">
              <div class="table-responsive">
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">First Name</th>
                      <th scope="col">Last Name</th>
                      <th scope="col">Relation</th>
                      <th scope="col">Phone No</th>
                      <th scope="col">Allow Pickup</th>
                      <th scope="col">Actions</th>
                    </tr>
                   </thead>
                  <tbody>
                    <tr>
                      <td>Mark</td>
                      <td> Adam</td>
                      <td>Uncle</td>
                      <td>(+1) 5465 522 256</td>
                      <td>Yes</td>
                      <td>
                        <a [routerLink]="['/dashboard/actvitydetail']">
                          <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                        <a href="">
                          <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a href="">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                      </td>
                    </tr>

                    <tr>
                      <td>Richard</td>
                      <td> James</td>
                      <td>Driver</td>
                      <td>(+1) 5465 522 256</td>
                      <td>No</td>
                      <td>
                        <a [routerLink]="['/dashboard/actvitydetail']">
                          <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                        <a href="">
                          <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a href="">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div> 
          </div>
          <div class="tab-pane fade" id="Allergies" role="tabpanel" aria-labelledby="Allergies-tab">

            <div class="d-flex justify-content-between mt-20 subhead">
              <div>
                <h3>Immunization</h3>
              </div>
              <div>
                <button type="submit" class="btn btn-send"  data-toggle="modal" data-target=".immunization">Add Immunization</button>
              </div>
            </div>
            <div class="innertable">
              <div class="table-responsive">
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Immunization</th>
                      <th scope="col">Date Received</th>
                      <th scope="col">Other Immunization</th>
                      <th scope="col">Abbreviation</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>05 Nov 2018</td>
                      <td>Max Adam</td>
                      <td>Play ground </td>
                      <td>Fall down</td>
                      <td>
                        <a [routerLink]="['/dashboard/actvitydetail']">
                          <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                        <a href="">
                          <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a href="">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>



            <div class="d-flex justify-content-between mt-20 subhead">
              <div>
                <h3>Allergies</h3>
              </div>
              <div>
                <button type="submit" class="btn btn-send"  data-toggle="modal" data-target=".allergies">Add Allergies</button>
              </div>
            </div>

            <div class="innertable">
              <div class="table-responsive">
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Allergy</th>
                      <th scope="col">Allergy Name</th>
                      <th scope="col">Reaction</th>
                      <th scope="col">Treatement</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>05 Nov 2018</td>
                      <td>Max Adam</td>
                      <td>Play ground </td>
                      <td>Fall down</td>
                      <td>
                        <a [routerLink]="['/dashboard/actvitydetail']">
                          <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                        <a href="">
                          <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a href="">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>





            <div class="d-flex justify-content-between mt-20 subhead">
              <div>
                <h3>Medication</h3>
              </div>
              <div>
                <button type="submit" class="btn btn-send"  data-toggle="modal" data-target=".medication">Add Medication</button>
              </div>
            </div>
        
            
            <div class="innertable">
              <div class="table-responsive">
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Medication</th>
                      <th scope="col">Strength</th>
                      <th scope="col">Units</th>
                      <th scope="col">Dose</th>
                      <th scope="col">How Taken?</th>
                      <th scope="col">Other Medication</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Cephalexin- 50 mg/kg/day PO</td>
                      <td>03</td>
                      <td>2 </td>
                      <td>TD</td>
                      <td>Before Food</td>
                      <td>No</td>
                      <td>
                        <a [routerLink]="['/dashboard/actvitydetail']">
                          <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                        <a href="">
                          <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a href="">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>

          
          </div>
        </div>
      </div>
    </div>


<!-- imminization -->
<div class="modal fade immunization" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Immunization</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row mb-20 mt-20">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="">Immunization</label>
                <!-- <input type="text " class="form-control" id="" aria-describedby="" placeholder="Enter First Name"> -->
                <select class="form-control" id="exampleFormControlSelect1">
                  <option value="">-Select Immunization-</option>
                  <option value="1">Diphtheria, Tetanus, Pertussis </option>
                  <option value="2">Hepatitis A </option>
                  <option value="3">Hepatitis B </option>
                  <option value="4">Hib Meningitis </option>
                  <option value="5">Influenza </option>
                  <option value="6">Meningococcal Conjugate Vaccine </option>
                  <option value="7">Meningococcal Polysaccharide Vaccine </option>
                  <option value="8">Measles, Mumps, Rubella </option>
                  <option value="9">Pneumococcal </option>
                  <option value="10">Poliomyelitis </option>
                  <option value="11">Rotavirus </option>
                  <option value="12">Varicella </option>
                  <option value="-1">Other </option>
                </select>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="">Date Received</label>
                <input type="date " class="form-control" id="" aria-describedby="" placeholder="Select Date">
              </div>
            </div>
          </div>


          <div class="row mb-20">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="">Other Immunization</label>
                <input type="text " class="form-control" id="" aria-describedby="" placeholder="Other Immunization" disabled>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="">Abbreviation </label>
                <input type="text " class="form-control" id="" aria-describedby="" placeholder="Abbreviation" disabled>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>

<!-- allergies -->


<div class="modal fade allergies" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Allergies</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row mb-20 mt-20">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="">Allergy</label>
                <!-- <input type="text " class="form-control" id="" aria-describedby="" placeholder="Enter First Name"> -->
                <select class="form-control" id="exampleFormControlSelect1">
                    <option value="">-Select Allergy Type</option>
                    <option  value="0">Allergic conjunctivitis(Pink eye)</option>
                    <option  value="1">Allergic Rhinitis</option>
                    <option  value="2">Asthma</option>
                    <option  value="3">Chemical sensitivity</option>
                    <option  value="4">Drug</option>
                    <option  value="5">Food</option>
                    <option  value="6">Insect (e.g Bee) sting</option>
                    <option  value="7">Latex</option>
                    <option  value="8">Sinusitis</option>
                    <option  value="9">Skin</option>
                    <option value="-1">Other </option>
                  </select>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="">Allergy Name</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option value="">-Select Allergy Type</option>
                    <option  value="Allergic drug reactions" >Allergic drug reactions</option>
                    <option value="Dose-related" >Dose-related</option>
                    <option  value="Idiosyncratic adverse reactions" >Idiosyncratic adverse reactions</option>
                    <option value="-1">Other </option>
                  </select>
              </div>
            </div>
          </div>

          <div class="row mb-20">
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="">Reaction</label>
                  <input type="text " class="form-control" id="" aria-describedby="" placeholder="Enter Reaction" >
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="">Treatment </label>
                  <input type="text " class="form-control" id="" aria-describedby="" placeholder="Enter Treatment" >
                </div>
              </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>

<!-- MEdication -->
<div class="modal fade medication" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Medication</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row mb-20 mt-20">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="">Medication</label>
                <!-- <input type="text " class="form-control" id="" aria-describedby="" placeholder="Enter First Name"> -->
                <select class="form-control" id="exampleFormControlSelect1">
                    <option value="">-Select Medication</option>
                    <option value="1">Cephalexin- 50 mg/kg/day PO</option>
                    <option value="2">Cefazolin- 50 mg/kg/day </option>
                    <option value="3">Doxycycline- 5 mg/kg/day  </option>
                    <option value="-1">Other </option>
                  </select>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="">Strength</label>
                <input type="text " class="form-control" id="" aria-describedby="" placeholder="Enter Strength">
              </div>
            </div>
          </div>


          <div class="row mb-20">
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="">Units</label>
                  <input type="text " class="form-control" id="" aria-describedby="" placeholder="Enter Unit" >
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="">Dose </label>
                  <input type="text " class="form-control" id="" aria-describedby="" placeholder="Enter Dose" >
                </div>
              </div>
            </div>
            <div class="row mb-20">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">How Taken?</label>
                    <input type="text " class="form-control" id="" aria-describedby="" placeholder="Enter How Taken?" >
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">Other Medication </label>
                    <input type="text " class="form-control" id="" aria-describedby="" placeholder="Other Medication" disabled >
                  </div>
                </div>
              </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>


<!-- Add Guardian info -->
<div class="modal fade guardianinfo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Guardian</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
        <form>
          <div class="row mb-20 mt-20">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="">First name</label>
                <input type="text " class="form-control" id="" aria-describedby="" placeholder="Enter First Name">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="">Last name</label>
                <input type="text " class="form-control" id="" aria-describedby="" placeholder="Enter Last Name">
              </div>
            </div>
          </div>

          <div class="row mb-20">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="">Relation</label>
                <input type="text " class="form-control" id="" aria-describedby="" placeholder="Enter Relation">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="">Phone number</label>
                <input type="text " class="form-control" id="" aria-describedby="" placeholder="Enter Phone number">
              </div>
            </div>
          </div>

          <label class="checkboxcustom">
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>Make Responsible for Check-in & Check-out
          </label>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>
  <!-- <div class="d-flex justify-content-between mt-20 subhead"><div><h3>Kids List</h3></div> </div> -->
</div>
</div>