<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body style="font-family: Arial, sans-serif; font-size:14px; color: #000; margin: 0; border-collapse:collapse; line-height:20px;"> 
	
    <div style="width: 1000px; margin-left: auto; margin-right: auto;">

        <!--<table width="100%" border="0" cellspacing="0" cellpadding="10">
            <tbody>

                <tr>
                    <td width="100%" valign="top">
                        <strong style=" font-size:18px; color:#234f50;">
                            Student Incident Report Template
                        </strong>
                    </td>
                </tr>

            </tbody>
        </table>-->

        <!--<table width="100%" border="0" cellspacing="0" cellpadding="10">
        <tbody>

         <tr>
             <td style="width: 50%;color:#234f50;padding-bottom: 0;"><span style="width: 130px;float: left;">REPORTED BY:</span> <span><input type="text" name="REPORTED" style="border-top: none;width: 340px; border-left: none;border-right: none;border-color:#234f50;"></span></td>
             <td style="width: 50%;color:#234f50;padding-bottom: 0;"><span style="width: 130px;float: left;">DATE OF REPORT: </span><span><input type="text" name="REPORTED" style="border-top: none;width: 340px; border-left: none;border-right: none;border-color:#234f50;"></span></td>
         </tr>

         <tr>
             <td style="width: 50%;color:#234f50;padding-bottom: 0;"><span style="width: 130px;float: left;">TITLE/ROLE:</span> <span><input type="text" name="REPORTED" style="border-top: none;width: 340px; border-left: none;border-right: none;border-color:#234f50;"></span></td>
             <td style="width: 50%;color:#234f50;padding-bottom: 0;"><span style="width: 130px;float: left;">INCIDENT NO.:</span> <span><input type="text" name="REPORTED" style="border-top: none;width: 340px; border-left: none;border-right: none;border-color:#234f50;"></span></td>
         </tr>

        </tbody>
    </table>-->

        <table width="100%" border="0" cellspacing="0" cellpadding="10">
            <tbody>

                <tr>
                    <td width="50%" valign="top" style="border-bottom:1px solid #e9e9e9">
                        <img src="https://classroompanda.org/assets/img/logo-new.png" alt="Classroompanda" height="auto" width="auto">

                    </td>
                    <td width="30%" valign="top" style="border-bottom:1px solid #e9e9e9;"></td>
                    <td width="20%" valign="middle" style="border-bottom:1px solid #e9e9e9;">
                        <p style="margin:0; ">
                            <b style="font-size:18px;">
                                {{agencyname}}
                            </b>
                        </p>
                        <p style="margin:0; ">{{address}}</p>
                        <p style="margin:0; ">{{mobile}}</p>
                        <p style="margin:0; ">{{emailid}}</p>
                    </td>
                </tr>

            </tbody>
        </table>

        <table width="100%" border="0" cellspacing="0" cellpadding="10" style="margin-top: 20px;">
            <tbody>

                <tr>
                    <td style="text-align: center;background: #58a7fe;color: #fff; font-size:18px;">STUDENT INCIDENT INFORMATION</td>
                </tr>

            </tbody>
        </table>

        <table width="100%" border="0" cellspacing="0" cellpadding="10">
            <tbody>

                <tr style="margin-bottom:30%;">
                    <td style="width: 50%;color:#234f50;padding-bottom: 0;"><span style="width: auto;float: left; font-weight:700;">STUDENT NAME : </span> <span>&nbsp;{{studentname}}</span></td>
                    <td style="width: 50%;color:#234f50;padding-bottom: 0;"><span style="width: auto;float: left; font-weight:700;">CLASS : </span><span>&nbsp;{{classname}}</span></td>
                </tr>


                <tr>
                    <td style="width: 50%;color:#234f50;padding-bottom: 0;"><span style="width: auto;float: left;font-weight:700;">DATE OF INCIDENT : </span><span>&nbsp;{{dateofincident}}</span></td>
                    <td style="width: 50%;color:#234f50;padding-bottom: 0;"><span style="width: auto;float: left;font-weight:700;">TIME OF INCIDENT : </span><span>&nbsp;{{timeofincident}}</span></td>
                </tr>

                <tr>
                    <td style="width: 50%;color:#234f50;padding-bottom: 0;"><span style="width: 140px;float: left;font-weight:700;">PLACE OF INCIDENT: </span><span>&nbsp;{{placeofincident}}</span></td>
                    <td style="width: 50%;color:#234f50;padding-bottom: 0;"><span style="width: auto;float: left;font-weight:700;">INVOLVED PARTICIPANT(S) : </span><span>&nbsp;{{involvedparticipant}}</span></td>
                </tr>


                <tr>
                    <td style="width: 50%;color:#234f50;padding-bottom: 0;"><span style="width: auto;float: left;font-weight:700;">NATURE OF INJURY :</span><span>&nbsp;{{natureofinjury}}</span></td>
                    <td style="width: 50%;color:#234f50;padding-bottom: 0;"><span style="width: auto;float: left;font-weight:700;">FIRST AID ADMINISTERED BY :</span><span>&nbsp;{{firstaidadministeredby}}</span></td>
                </tr>


                <tr>
                    <td style="width: 50%;color:#234f50;padding-bottom: 0;"><span style="width: auto;float: left;font-weight:700;">DOCTOR REQUIRED :</span><span>&nbsp;{{doctorrequired}}</span></td>
                    <td style="width: 50%;color:#234f50;padding-bottom: 0;"><span style="width: auto;float: left;font-weight:700;">WAS PARENT INFORMED :</span><span>&nbsp;{{wasparentinformed}}</span></td>
                </tr>


                <tr>
                    <td style="width: 50%;color:#234f50;padding-bottom: 0;"><span style="width: auto;float: left;font-weight:700;">IF YES, THEN HOW? :</span><span>&nbsp;{{ifyesthenhow}}</span></td>
                    <td style="width: 50%;color:#234f50;padding-bottom: 0;"><span style="width: auto;float: left;font-weight:700;">ACTION TAKEN :</span><span>&nbsp;{{actiontaken}}</span></td>
                </tr>

                <tr>
                    <td style="width: 50%;color:#234f50;padding-bottom: 0;"><span style="width: auto;float: left;font-weight:700;">INCIDENT PRIORITY :</span><span>&nbsp;{{incidentpriority}}</span></td>
                    <td style="width: 50%;color:#234f50;padding-bottom: 0;"><span style="width: auto;float: left;font-weight:700;">PART OF BODY :</span> <span> &nbsp;{{partofbody}}</span></td>
                </tr>


                <tr>
                    <td style="width: 50%;color:#234f50;padding-bottom: 0;"><span style="width: auto;float: left;font-weight:700;">CONTEXT ENVIRONMENT :</span><span>&nbsp;{{contextenvironment}}</span></td>
                    <td style="width: 50%;color:#234f50;padding-bottom: 0;"><span style="width: auto;float: left;font-weight:700;">CONTEXT CHILD :</span> <span> &nbsp;{{contextchild}}</span></td>
                </tr>

                <tr>
                    <td style="width: 50%;color:#234f50;padding-bottom: 0;"><span style="width: auto;float: left;font-weight:700;">PARENT ACKNOWLEGEMENT :</span><span>&nbsp;{{parentacknowlegement}}</span></td>
                    <td style="width: 50%;color:#234f50;padding-bottom: 0;"><span style="width: auto;float: left;font-weight:700;">INJURY DESCRIPTION :</span> <span> &nbsp;{{injurydescription}}</span></td>
                </tr>

                <tr>
                    <td colspan="2" style="width: 100%;color:#234f50;padding-bottom: 0;">
                        <span style="width: 100%;float: left;font-weight:700;">COMMENT FROM PARENT :</span> <span>
                            <textarea style="width: 100%;background: #eaece1;border-color:#eaece1;resize: none;" rows="6" cols="50"> {{commentfromparent}}
                            </textarea>
                        </span>
                    </td>
                </tr>

            </tbody>
        </table>

        <!--<table width="100%" border="0" cellspacing="0" cellpadding="10">
        <tbody>

         <tr>
             <td style="color:#234f50;padding-bottom: 0;"><span style="width: 100px;float: left;">EMPLOYEE NAME:</span> <span><input type="text" name="REPORTED" style="border-top: none;width: 205px; border-left: none;border-right: none;border-color:#234f50;"></span></td>
             <td style="color:#234f50;padding-bottom: 0;"><span style="width: 100px;float: left;">EMPLOYEE SIGNATURE: </span><span><input type="text" name="REPORTED" style="border-top: none;width: 205px; border-left: none;border-right: none;border-color:#234f50;"></span></td>
             <td style="color:#234f50;padding-bottom: 0;"><span style="width: 100px;float: left;">DATE: </span><span><input type="text" name="REPORTED" style="border-top: none;width: 205px; border-left: none;border-right: none;border-color:#234f50;"></span></td>
         </tr>

          <tr>
             <td style="color:#234f50;padding-bottom: 0;"><span style="width: 100px;float: left;">SUPERVISOR NAME:</span> <span><input type="text" name="REPORTED" style="border-top: none;width: 205px; border-left: none;border-right: none;border-color:#234f50;"></span></td>
             <td style="color:#234f50;padding-bottom: 0;"><span style="width: 100px;float: left;">SUPERVISOR SIGNATURE: </span><span><input type="text" name="REPORTED" style="border-top: none;width: 205px; border-left: none;border-right: none;border-color:#234f50;"></span></td>
             <td style="color:#234f50;padding-bottom: 0;"><span style="width: 100px;float: left;">DATE: </span><span><input type="text" name="REPORTED" style="border-top: none;width: 205px; border-left: none;border-right: none;border-color:#234f50;"></span></td>
         </tr>

             <tr>
             <td style="color:#234f50;padding-bottom: 0;"><span style="width: 100px;float: left;">STUDENT NAME:</span> <span><input type="text" name="REPORTED" style="border-top: none;width: 205px; border-left: none;border-right: none;border-color:#234f50;"></span></td>
             <td style="color:#234f50;padding-bottom: 0;"><span style="width: 100px;float: left;">STUDENT SIGNATURE: </span><span><input type="text" name="REPORTED" style="border-top: none;width: 205px; border-left: none;border-right: none;border-color:#234f50;"></span></td>
             <td style="color:#234f50;padding-bottom: 0;"><span style="width: 100px;float: left;">DATE: </span><span><input type="text" name="REPORTED" style="border-top: none;width: 205px; border-left: none;border-right: none;border-color:#234f50;"></span></td>
         </tr>

        </tbody>
    </table>-->

    </div>
	
</body>
</html>
