<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Untitled Document</title>
</head>

<body style="font-family: Arial, sans-serif; font-size:14px; color: #000; margin: 0; border-collapse:collapse; line-height:20px;">

    <table width="100%" border="0" cellspacing="0" cellpadding="10">
        <tbody>

            <tr>
                <td width="50%" valign="top" style="border-bottom:1px solid #e9e9e9">
                    <img src="https://classroompanda.org/assets/img/logo-new.png" alt="Classroompanda" height="auto" width="auto">

                </td>
                <td width="30%" valign="top" style="border-bottom:1px solid #e9e9e9;"></td>
                <td width="20%" valign="middle" style="border-bottom:1px solid #e9e9e9;">
                    <p style="margin:0; ">
                        <b style="font-size:18px;">
                            {{agencyname}}
                        </b>
                    </p>
                    <p style="margin:0; ">{{address}}</p>
                    <p style="margin:0; ">{{mobile}}</p>
                    <p style="margin:0; ">{{emailid}}</p>
                </td>
            </tr>

        </tbody>
    </table>    

    <table width="100%" border="0" cellspacing="0" cellpadding="10">
        <tbody>

            <tr>
                <td width="100%" valign="top" style="border-bottom:1px solid #e9e9e9">
                    <strong style=" font-size:18px; color:#000000;">
                        Ledger Report {{currentDate}}
                    </strong>
                </td>
            </tr>

        </tbody>
    </table>

    <!-- <table width="100%" border="0" cellspacing="0" cellpadding="10">
        <tbody>

            <tr>
                <td width="100%" valign="top" style=" font-size: 13px; text-decoration: underline;">
                    Parent Name<br>
                    Paid on : 20/06/2018<br>
                    From date: 20/02/2019 , To Date: 20/20/2023

                </td>
            </tr>

        </tbody>
    </table> -->
    {{paymentDetails}}



    <!-- <table width="100%" border="1" bordercolor="#e9e9e9" cellspacing="0" cellpadding="10" style="border-collapse:collapse;">
        <tbody>
            <tr bgcolor="#ebecec">

                <td bgcolor="#ebecec" valign="middle"><strong>Items</strong></td>
                <td bgcolor="#ebecec" align="center" valign="middle"><strong>Dr</sltrong></td>
                <td bgcolor="#ebecec" align="center" valign="middle"><strong>Cr </strong></td>
                <td bgcolor="#ebecec" align="center" valign="middle"><strong>Net</strong></td>
            </tr>
            <tr>

                <td valign="middle"><span style="text-decoration: underline">Total Amount</span> </td>
                <td align="center" valign="middle"> </td>
                <td align="center" valign="middle">$300.00</td>
                <td align="center" valign="middle">$300.00</td>
            </tr>
            <tr>

                <td valign="middle"><span style="text-decoration: underline">Discount</span> </td>
                <td align="center" valign="middle"> $300.00</td>
                <td align="center" valign="middle"></td>
                <td align="center" valign="middle">$0.00</td>
            </tr>
            <tr>

                <td valign="middle"><span style="text-decoration: underline">Advance Fee</span> </td>
                <td align="center" valign="middle"> $300.00</td>
                <td align="center" valign="middle"></td>
                <td align="center" valign="middle">$0.00</td>
            </tr>
            <tr>

                <td valign="middle"><span style="text-decoration: underline">Subsidy Fee</span> </td>
                <td align="center" valign="middle"> $300.00</td>
                <td align="center" valign="middle"></td>
                <td align="center" valign="middle">$0.00</td>
            </tr>
            <tr>

                <td valign="middle" align="right" style="border-top: 2px solid #000000; padding-right: 30px;" colspan="1"><strong>
                        Total:</strong></td>
                <td align="center" valign="middle" style="border-top: 2px solid #000000"> <strong>$300.00</strong></td>
                <td align="center" valign="middle" style="border-top: 2px solid #000000"><strong>$300.00</strong></td>
                <td align="center" valign="middle" style="border-top: 2px solid #000000"><strong>$0.00</strong></td>
            </tr>
        </tbody>
    </table> -->
</body>

</html>