<div class="login-head">
  <img src="assets/img/logo-big-new.png" alt="">
</div>
<div class="bgblue">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="div12">
          <img src="assets/img/bg.png" alt="">
        </div>
      </div>

      <div class="col-lg-4" *ngIf="!showMessage">
        <div class="loginbox">
          <form class="form-card" [formGroup]="resetForm">
            <div class="title">
              <h3>CREATE NEW PASSWORD</h3>
            </div>
            <fieldset class="form-fieldset">

              <div class="form-element form-input">
                <input formControlName="newpassword" class="form-element-field" placeholder="Enter new password"
                  type="password" autofocus />
                <div class="form-element-bar"></div>
                <label class="form-element-label" for="">New Password</label>
              </div>
              <div *ngIf="f.newpassword.invalid && (f.newpassword.dirty || f.newpassword.touched)"
                class="text-left errormsg">
                <span *ngIf="f.newpassword.errors.minlength">
                  <i class="fa fa-exclamation-circle errtext"></i> <span class="errtext"> Minimum 6 characters
                    required</span>
                </span>
                <span *ngIf="f.newpassword.errors.required">
                  <i class="fa fa-exclamation-circle errtext"></i> <span class="errtext"> Please enter password</span>
                </span>
              </div>

              <div class="form-element form-input">
                <input id="" formControlName="confirmpassword" class="form-element-field"
                  placeholder="Enter confirm password." type="password" />
                <div class="form-element-bar"></div>
                <label class="form-element-label" for="">Confirm Password</label>
              </div>
              <div *ngIf="f.confirmpassword.invalid && (f.confirmpassword.dirty || f.confirmpassword.touched)"
                class="text-left errormsg">
                <span *ngIf="f.confirmpassword.errors.minlength">
                  <i class="fa fa-exclamation-circle errtext"></i> <span class="errtext"> Minimum 6 characters
                    required</span>
                </span>
                <span *ngIf="f.confirmpassword.errors.required">
                  <i class="fa fa-exclamation-circle errtext"></i> <span class="errtext"> Please enter password</span>
                </span>
              </div>
            </fieldset>
            <button type="button" [disabled]="!resetForm.valid" (click)="verifyPassword()"
              class="btn btn-success">Create new password</button>
          </form>

          <div class="topkid">
            <img src="assets/img/top.png" alt="">
          </div>

          <div class="bottomkid">
            <img src="assets/img/kids.png" alt="">
          </div>
        </div>
      </div>
      <!-- Success Message -->
      <div class="col-lg-4" *ngIf="showMessage">
        <div class="loginbox">
          <div class="form-card">
            <div class="title">
              <h3 style="color: #FF6C6C">Great!!</h3>
            </div>
            <fieldset class="form-fieldset">
              <!-- <div class="form-element form-input"> -->
              <p style="color:#58A7FE"> Password has been created successfully and sent to your registered email!</p>
              <!-- </div> -->
              <a [routerLink]="['/']" style="cursor:pointer">Go To Login</a>
            </fieldset>
          </div>




        </div>
      </div>
    </div>

  </div>
</div>

<ngx-spinner type="ball-atom" size="medium" color="#58A7FE"></ngx-spinner>