<div class="wrapper">
  <div class="container-fluid">

    <div class="pagetitle">
      <div>
        <h2>Dashboard
          <span>/ Message </span>
        </h2>
      </div>
      <!-- <div>
        <button type="submit" class="btn btn-red">Compose New Message</button>
      </div> -->
    </div>

    <div class="subhead d-flex justify-content-between mt-20"><div><h3>Message</h3></div> </div>        

<div class="row mt-20">

<div class="col-lg-3 ">
  <div class="inbox_people mesg">
    <div class="headind_srch">
      <div class="recent_heading">
        <!--<h4>Class L-KG - Student(35)</h4>-->
        <select class="form-control" id="exampleFormControlSelect1">
            <option>Toddler</option>
            <option>Infant</option>
            <option>LKG</option>
            <option>1st Class</option>
          </select>
      </div>
    </div>
    
    <div class="inbox_chat">
        <ng-scrollbar>
      <div class="chat_list active_chat">
        <div class="chat_people">
          <div class="chat_img">
            <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
          <div class="chat_ib">
            <h5>ID : C123456
            </h5>
            <p class="kidname">Dev James</p>
           <!-- <p class="status">Enjoying the dance</p>-->
          </div>
        </div>
      </div>
      <div class="chat_list">
        <div class="chat_people">
          <div class="chat_img">
            <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
          <div class="chat_ib">
            <h5>ID : C234561
             
            </h5>
            <p class="kidname">Mark Thomas</p>
             <!-- <p class="status">Enjoying the dance</p>-->
          </div>
        </div>
      </div>
      <div class="chat_list">
        <div class="chat_people">
          <div class="chat_img">
            <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
          <div class="chat_ib">
            <h5>ID : C334456
             
            </h5>
            <p class="kidname">Jessica M</p>
            <!-- <p class="status">Enjoying the dance</p>-->
          </div>
        </div>
      </div>
      <div class="chat_list">
        <div class="chat_people">
          <div class="chat_img">
            <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
          <div class="chat_ib">
            <h5>ID : C445233
            
            </h5>
            <p class="kidname">Jacob Thomas</p>
         <!-- <p class="status">Enjoying the dance</p>-->
          </div>
        </div>
      </div>
      <div class="chat_list">
        <div class="chat_people">
          <div class="chat_img">
            <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
          <div class="chat_ib">
            <h5>ID : C553546
             
            </h5>
            <p class="kidname">Natasha R</p>
            <!-- <p class="status">Enjoying the dance</p>-->
          </div>
        </div>
      </div>
      <div class="chat_list">
        <div class="chat_people">
          <div class="chat_img">
            <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
          <div class="chat_ib">
            <h5>ID : C344257
              
            </h5>
            <p class="kidname">Kim Possible</p>
            <p class="status">Enjoying the dance</p>
          </div>
        </div>
      </div>



      <!--Remove below -->

      <div class="chat_list">
          <div class="chat_people">
            <div class="chat_img">
              <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
            <div class="chat_ib">
              <h5>ID : C344257
                
              </h5>
              <p class="kidname">Jerry Lane</p>
              <p class="status">Enjoying the dance</p>
            </div>
          </div>
        </div>
        <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img">
                <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>ID : C344257
                  
                </h5>
                <p class="kidname">Tom Hanks</p>
                <p class="status">Enjoying the dance</p>
              </div>
            </div>
          </div>



    </ng-scrollbar>
    </div>




  </div>

</div>


<div class="col-lg-9">
  <div class="card viewchat">
    <div class="chat_people">
        <div class="chat_img">
          <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
        <div class="chat_ib">
          <h5>ID : C123456
          </h5>
          <p class="kidname">Dev James</p>
           <!-- <p class="status">Enjoying the dance</p>-->
        </div>
      </div>
    <div class="brdr"></div>
    <ng-scrollbar>
    <div class="chatmsg">
        
        <p class="text-center time_date">Today, 12 Aug 2018</p>
        <div class="incoming_msg">
          <div class="received_msg">
            <div class="received_withd_msg">
              <p>Test which is a new approach to have all solutions
              </p>
              <span class="time_date">William - 11:01 AM | Today</span>
            </div>
          </div>
        </div>
        <div class="incoming_msg">
            <div class="received_msg">
              <div class="received_withd_msg">
                <p>My kid is very happy
                </p>
                <span class="time_date">William - 02:01 PM | Today</span>
              </div>
            </div>
          </div>
            <div class="incoming_msg">
                <div class="received_msg">
                  <div class="received_withd_msg">
                    <p>He likes to dance alot.
                    </p>
                    <span class="time_date">William - 11:01 AM | Today</span>
                  </div>
                </div>
              </div>

        <div class="incoming_msg">
          <div class="received_msg">
            <div class="received_withd_msg">
              <p>Yes, test will be conducted.
              </p>
              <span class="time_date">Gerson - 11:01 AM | Today</span>
            </div>
          </div>
        </div>

        <div class="outgoing_msg">
          <div class="sent_msg">
            <p>Apollo University, Delhi, India Test</p>
            <span class="time_date"> Jack - 11:15 AM | Today</span>
          </div>
        </div>

        <div class="outgoing_msg">
            <div class="sent_msg">
              <p>He is likes to play outside</p>
              <span class="time_date"> Jack - 05:15 PM | Today</span>
            </div>
          </div>
      </div>
      </ng-scrollbar> 
      <div class="type_msg">
          <div class="input_msg_write">
            <textarea type="text" class="write_msg" placeholder="Type a message" ></textarea>
           <div class="sndbtn text-right">
          <!--   <a href=""> <i class="fa fa-video-camera" aria-hidden="true"></i>   </a>
              <a href=""><i class="fa fa-camera" aria-hidden="true"></i></a>-->
            <button class="btn btn-send" type="button">Post</button>
            </div>
        </div>
        </div>
</div>
</div>
</div>


   
  </div>
</div>
