.checkbox_date
{
    height: 34px;
    width: 25px;
    margin-left: 18px;
    margin-top: 4px;
}

.overcapacity {
color: red !important;
font-weight: bold !important;
}

.parenttype li {
    float: left;
    }
.closepos{  position: absolute;  right: 170px;}

.btn-send {
    background: #58A7FE;
    padding: 5px 20px;
    color: #fff;
    font-size: 15px !important;
    border-radius: 30px;
}

@media (max-width:767px){
    .closepos {
        position: absolute;
        right: 40px;
    }
}

.info-icon{
    margin-left: 243px;
    font-size: 20px; 
    color: #383333;
}