<div class="wrapper">
  <div class="container-fluid">
<div class="pagetitle">
  <div>
    <h2>Reset Password
    </h2>
  </div>
</div>
<div class="modal-container">
  
  <div class="modal-body profileupdate">
    <form [formGroup]="resetForm">    
        <div class="form-fields">
        <div class="row mb-10 ">
        <div class="col-lg-6 ">
          <div class="form-group">
            <label for="">New Password</label>
            <input type="password"  class="form-control" formControlName="newpassword" id=""  aria-describedby="" placeholder="New Password">
            <div *ngIf="f.newpassword.invalid && (f.newpassword.dirty || f.newpassword.touched)" class="text-left errormsg">
              <span *ngIf="f.newpassword.errors.minlength">
                  <i class="fa fa-exclamation-circle errtext" ></i> <span class="errtext"> Minimum 6 characters required</span> 
              </span>
              <span *ngIf="f.newpassword.errors.required">
                <i class="fa fa-exclamation-circle errtext" ></i> <span class="errtext"> Please enter password</span> 
            </span>
          </div>
         
          </div>
        </div>
      </div>
      <div class="row mb-10 ">
        <div class="col-lg-6 ">
          <div class="form-group">
            <label for="">Confirm Password</label>
            <input type="password"  class="form-control"  formControlName="confirmpassword" id="" aria-describedby="" placeholder="Confirm Password">
            <div *ngIf="f.confirmpassword.invalid && (f.confirmpassword.dirty || f.confirmpassword.touched)" class="text-left errormsg">
              <span *ngIf="f.confirmpassword.errors.minlength">
                  <i class="fa fa-exclamation-circle errtext" ></i> <span class="errtext"> Minimum 6 characters required</span> 
              </span>
              <span *ngIf="f.confirmpassword.errors.required">
                <i class="fa fa-exclamation-circle errtext" ></i> <span class="errtext"> Please enter password</span> 
            </span>
          </div>
          </div>
        </div>
        </div>
      </div>
  </form>
</div>
<div class="modal-footer profileupdate">
  <button type="button" class="btn btn-primary" (click)="verifyPassword()">Update Password</button>
  <button type="button" class="btn btn-secondary" (click)="resetFields()">Reset</button>
</div>
</div>


</div>
</div>
<ngx-spinner type="ball-atom" size="medium" color="#58A7FE"></ngx-spinner>
<router-outlet><router-outlet>