
/* Added By Aniket */
/* .profileupdate {
    margin-left: 10%;
    margin-right: 10%
} */


.spaceb {
    margin-bottom: 20px;
}
.upload-profile {
    text-align: center;
    padding: 15px;
}
.form-fields {
    width: 100%;
    padding: 15px;
    border: 1px solid #f5f5f5;
    margin: 10px;
}
.upload-profile img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.modal-container {
    border-radius: 10px;
    box-shadow: 0 4px 14px 0px rgba(0,0,0,0.09);
    padding: 10px;
    background: #ffffff;
}
.modal-container form {
    display: flex;
}
.btn-send {
    background: none;
    padding: 5px 20px;
    color: #58A7FE;
    font-size: 14px;
    border-radius: 30px;
    border: 1px solid #58A7FE;
}
.btn-send:hover {
    background: #58A7FE;
    padding: 5px 20px;
    color: #ffffff;
    font-size: 14px;
    border-radius: 30px;
    border: 1px solid #58A7FE;
}
@media (max-width: 767px) {
    .modal-container form {
        display: block;
    }
    .form-fields {margin: 0;}
}